<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>资金注入页面</title>
    <link rel="stylesheet" type="text/css" href="../static/css/capitalInjection.css"/>
    <script type="text/javascript" src="../static/js/capitalInjection.js"></script>
    <style>

    </style>
</head>

<body onload="hidePopup();">

<div class="head">
    <a href="/homepage">
        <img class="topNavLogo" src="../static/img/kcoin-logo-blue.png"/>
        <div class="topNavName">KCOIN</div>
    </a>
</div>
    <div class="container" id="container">
        <script type="text/javascript">
            document.getElementById("personalProjectsLink").style.backgroundColor = 'white';
        </script>
        <div class="container-child">
            {{with .Projects}}
            {{range .Data}}
            <div class="project">
                <img class="project-cover" alt="project" src="{{.ProjectCoverUrl}}"/>
                <div class="project-name">{{.ProjectName}} </div>
                <div class="introduction">introduction</div>
                <div class="CC">CC:12138</div>
                <hr/>
                {{range .MemberList}}
                <img class="head_shot" alt="" src="{{.HeadShotUrl}}"/>
                <div class="addprojbar">
                <div style="padding-right: 30px; padding-top: 25px; float: right; font-size: 25px;">
                    <input type="button" style="width:90px; height:40px;" onclick="showPopup();" value="注入资金">
                </div>
                </div>
                {{end}}
            </div>
            {{end}}
            {{end}}
        </div>
    </div>

    <div id="injection" style="background:rgba(0,0,0,0.9);" onclick="hidePopup();">
        <div  class="main" style="background:rgba(255, 255, 255, 0.9)" onClick="event.cancelBubble = true" >
            <h1 style="color: #FFFFFF ;background: #000000">注资信息
                <img class="close-button" style="width:50px; height: 100%;position: relative;float:right;top:-5px"
                     onclick="hidePopup();" src="../static/img/close2.png"/>
            </h1>
            <div class="content" onClick="event.cancelBubble = true">
                金额
                <input class="input_text" placeholder="请输入注资确认金额" type='text' onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" />
                <br>
                期限
                <input class="input_text" placeholder="请输入注资确认天数" type='text' onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" />
                <div>

                        <button  id="commit" type="button" >确认</button>
                        <button  id="cancel" type="button" >取消</button>

                </div>


            </div>
        </div>

    </div>

</body>
</html>