<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>个人中心</title>
    <script type="text/javascript">
		function changePersonalPageColor(){
			document.getElementById("personalPageLink").style.backgroundColor = 'white';
		}
	</script>
    <link rel="stylesheet" type="text/css" href="../static/css/personal.css"/>
</head>

<body>
    <div id="container">
        <div class="left-nav">
            {{template "./leftNav.html" .}}
        </div>
        <script type="text/javascript">
            document.getElementById("personalPageLink").style.backgroundColor = 'white';
        </script>
        <!--右边界面背景色的设置在css中mainInterface里-->
        <div class="mainInterface">
            <div class="record">
                Kcoin记录
                <table class="customers">
                    <!--现在使用自定义的数据测试，后续实现从数据库中读取并实现按照读取数据自动分页-->
                    <tr class="alt">
                        <th>日期</th>
                        <th>操作类型</th>
                        <th>cc数量</th>
                    </tr>
                    <tr>
                    {{with .user.Data}}
                    {{range .UserCcOpeList}}
                        <td>{{.OpeCcDate}}</td>
                        <td>{{.OpeCcType}}</td>
                        <td>{{.OpeCcNumber}}</td>
                    </tr>
                    {{end}}
                    {{end}}
                </table>         
                <body>
                    <ul class="pagination">
                      <li><a href="#">«</a></li>
                      <li><a class="active" href="#">1</a></li>
                      <li><a href="#">»</a></li>
                    </ul>                 
                </body>
            </div>
        </div>
    </div>
</body>