<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="../static/css/personalPage.css"/>
</head>
<body>
    <div class="banner">
            <a href="./homepage">
                <img src="../static/img/kcoin-logo-blue.png" style="vertical-align: middle;" width="28" height='28' />
                <b>KCOIN</b>
            </a>
        </div>
        <div class="information">
            <img src="{{.user.Data.HeadShotUrl}}" style="width:200px;height:200px;border-radius:50%;overflow:hidden"/>
            <br />
            <b>{{.user.Data.UserName}}</b>
        </div>
        <div class="list">
            <ul>
                <li><a id="personalPageLink" href="./personalpage">
                    <img src="../static/img/list-star.png" style="vertical-align: middle;" width="24" height="24"/>
                    个人中心</a></li>
                <li><a id="personalProjectsLink" href="./personalprojects">  
                    <img src="../static/img/list-rocket.png" style="vertical-align: middle;" width="24" height="24"/>
                    我的项目</a></li>
                <li><a href="./logout" >退出登录</a></li>
            </ul>
        </div>
</body>
