<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>My Projects</title>
	<link rel="stylesheet" type="text/css" href="../static/css/MyProjects.css"/>
</head>

<body>

	<script type="text/javascript">
		function importt() {
			window.open("import.html", "", "")
		}
	</script>

	<div class="menu">
		<div class="label">
			<img src="../static/img/椭圆1.png" style="height:30px; width:30px; padding-left: 40px; padding-top:5px;" />
			<font color="#0066CC">KCOIN</font>
		</div>
		<img class="headshot" src="../static/img/tx1.png">
		<div class="nickname" style="text-align: center">Darkone.</div>
		<div class="item" style="text-align: center">
			<img src="../static/img/图层4.png" style="width: 30px; height: 30px;"> 个人中心<br><br>
			<img src="../static/img/图层5.png" style="width: 30px; height: 30px;"> 项目列表<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;退出登录<br>
		</div>
	</div>


	<div class="container" id="container">
		<div style="align-content: center">
		<div class="addprojbar">
			<div style="padding-left: 40px; padding-top: 25px; float: left;">我的项目列表(6)</div>
			<div style="padding-right: 30px; padding-top: 25px; float: right; font-size: 25px;">
				<input type="button" style="width:125px; height:40px;" onclick="javascript:top.location='import.tpl';" value="添加项目">
				
			</div>
		</div>
		<div class="project">
			<img class="project-cover" alt="project" src="../static/img/projectbg.png"/>
			<div class="projectName">Kcoin OpenSource</div>
			<div class="introduction">introduction</div>
			<div class="CC">CC:12138</div>
			<hr/>
			<img class="head_shot" alt="" src="../static/img/tx1.png"/>
			<img class="head_shot" alt="" src="../static/img/tx2.png"/>
		</div>
		<div class="project">
			<img class="project-cover" alt="project" src="../static/img/projectbg.png"/>
			<div class="projectName">Kcoin OpenSource</div>
			<div class="introduction">introduction</div>
			<div class="CC">CC:12138</div>
			<hr/>
			<img class="head_shot" alt="" src="../static/img/tx1.png"/>
			<img class="head_shot" alt="" src="../static/img/tx2.png"/>
		</div>
		<div class="project">
			<img class="project-cover" alt="project" src="../static/img/projectbg.png"/>
			<div class="projectName">Kcoin OpenSource</div>
			<div class="introduction">introduction</div>
			<div class="CC">CC:12138</div>
			<hr/>
			<img class="head_shot" alt="" src="../static/img/tx1.png"/>
			<img class="head_shot" alt="" src="../static/img/tx2.png"/>
		</div>
		<div class="project">
			<img class="project-cover" alt="project" src="../static/img/projectbg.png"/>
			<div class="projectName">Kcoin OpenSource</div>
			<div class="introduction">introduction</div>
			<div class="CC">CC:12138</div>
			<hr/>
			<img class="head_shot" alt="" src="../static/img/tx1.png"/>
			<img class="head_shot" alt="" src="../static/img/tx2.png"/>
		</div>
		<div class="project">
			<img class="project-cover" alt="project" src="../static/img/projectbg.png"/>
			<div class="projectName">Kcoin OpenSource</div>
			<div class="introduction">introduction</div>
			<div class="CC">CC:12138</div>
			<hr/>
			<img class="head_shot" alt="" src="../static/img/tx1.png"/>
			<img class="head_shot" alt="" src="../static/img/tx2.png"/>
		</div>
		</div>
	</div>
</body>
</html>