<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>我的项目</title>
    <link rel="stylesheet" type="text/css" href="../static/css/personalProjects.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/personalPage.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/import.css">
    <script type="text/javascript" src="../static/js/import.js"></script>
</head>

<body onload="hidePopup();">
    <div id="container" style="position: absolute;">
        <div class="left-nav">
            {{template "./leftNav.html" .}}
        </div>
        <script type="text/javascript">
            document.getElementById("personalProjectsLink").style.backgroundColor = 'white';
        </script>

        <div class="mainInterface">
            <div class="addprojbar">
                <div style="padding-left: 40px; padding-top: 25px; float: left;">我的项目列表(2)</div>
                <div style="padding-right: 30px; padding-top: 25px; float: right; font-size: 25px;">
                    <input type="button" style="width:125px; height:40px;" onclick="showPopup();" value="添加项目">
                </div>
            </div>

            <div class="container">
                <div class="container-child">
                    {{with .user}}
                    {{range .Data.ProjectList}}
                    <div class="project">
                        <img class="project-cover" alt="project" src="{{.ProjectCoverUrl}}"/>
                        <div class="project-name">{{.ProjectName}} </div>
                        <div class="introduction">introduction</div>
                        <div class="CC">CC:12138</div>
                        <hr/>
                        {{range .MemberList}}
                        <img class="head_shot" alt="" src="{{.HeadShotUrl}}"/>
                        <!--后续或许可以设置成，如果成员过多，只显示前几名成员，后面加上点点点。-->
                        {{end}}
                    </div>
                    {{end}}
                    {{end}}
                </div>
            </div>  
        </div>
    </div>

    <div id="import" style="background:rgba(0,0,0,0.9);" onclick="hidePopup();" >
        <!-- onClick="event.cancelBubble = true"   div嵌套div时，点击子级div不触发父级div点击事件。-->
        <div class="main" style="background:rgba(255, 255, 255, 0.9)" onClick="event.cancelBubble = true">
            <h1>导入项目
                <img class="close-button" style="width:50px; height: 100%;position: relative;float:right;top:-5px" 
                onclick="hidePopup();" src="../static/img/close2.png"/>
            </h1>
			<ul class="steps">
				<li id="step1" class="active">选择项目</li>
				<li id="step2">初始信息</li>
				<li id="step3">初始分配</li>
			</ul>
			<div class="content">
				<div id="myprojects">
					<form>
						<input class = "url_input" type="text" placeholder="快速导入: 请输入Github项目的URL">
						<input class = "submit" type="submit" value="确&nbsp认">
					</form>
					<div id = "projectslist">
						<p>
							<img class = "profile" src={{.user.Data.HeadShotUrl}} alt="profile" align="top">&nbsp
							<span id="username">{{.user.Data.UserName}}</span>&nbsp
							<span id ="userprojects">({{.memberList_len}}个项目)</span>
						</p>
						
						<ul class="projects">
							{{with .user.Data}}
							{{range .ProjectList}}
								<li>{{.ProjectName}}</li>
							{{end}}
							{{end}}
						</ul>
					</div>
				</div>
				<div id="init_message">
					<p>初始信息页面</p>
				</div>
				<div id="config_project">
					<p>&nbsp</p>
					<p>1. 填写项目名称</p>
					<form>
						<input class = "projectname" type="text">
					</form>
					<p>2. 上传项目封面（选填，但只能添加不大于2M的图片）</p>
					<a href="javascript:;" class="upload">选择文件
						<input class="change" id="upload_image" type="file" accept=".jpg, .png" onchange="showImg(this)"/>
					</a>
                </div>
                <div id="next_back">
                    <form>
                        <button class = "next" id="btnNextStep" type="button" onclick="next_step()">下一步</button>
                        <button class = "back" id="btnBackStep" type="button" onclick="back_step()">前一步</button>
                    </form>
                </div>
			</div>
        </div>
    </div>
</body>