<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>个人中心</title>
    <script type="text/javascript" src="../static/js/paging.js">
		function changePersonalPageColor(){
			document.getElementById("personalPageLink").style.backgroundColor = 'white';
		}
	</script>
    <link rel="stylesheet" type="text/css" href="../static/css/personal.css"/>
</head>

<body onload="goPage1(1,5);goPage2(1,5);">
    <div id="container">
        <div class="left-nav">
            {{template "./leftNav.html" .}}
        </div>
        <script type="text/javascript">
            document.getElementById("personalPageLink").style.backgroundColor = 'white';
        </script>
        <!--右边界面背景色的设置在css中mainInterface里-->
        <div class="mainInterface">
            <div class="money">
                <img src="../static/img/kcoin-project-list-half-icon.png" width="150" height="150" style="position: absolute;"/>
                Kcoin<br />
                {{.remainingCc}}
            </div>
            <div class="record">
                Kcoin记录
                <a class="sermore" href="./ccsearchpage">查看更多</a>
                <table class="customers" id="idData1">
                    <tr class="alt">
                        <th>日期</th>
                        <th>操作类型</th>
                        <th>cc数量</th>
                    </tr>
                    <!--之后从数据库读取cc的操作数据-->
                    <tr>
                        <td>11.19</td>
                        <td>sell</td>
                        <td>-1000</td>
                    </tr>
                    <tr>
                        <td>11.20</td>
                        <td>buy</td>
                        <td>+5000</td>
                    </tr>
                    <tr>
                        <td>11.21</td>
                        <td>sell</td>
                        <td>-1500</td>
                    </tr>
                    <tr>
                        <td>11.22</td>
                        <td>sell</td>
                        <td>-1000</td>
                    </tr>
                    <tr>
                        <th>日期</th>
                        <th>操作类型</th>
                        <th>cc数量</th>
                    </tr>
                    <tr>
                        <td>11.23</td>
                        <td>sell</td>
                        <td>-1500</td>
                    </tr>
                    <tr>
                        <td>11.24</td>
                        <td>sell</td>
                        <td>-2000</td>
                    </tr>
                    <tr>
                        <td>11.25</td>
                        <td>buy</td>
                        <td>+3000</td>
                    </tr>
                    <tr>
                        <td>11.26</td>
                        <td>sell</td>
                        <td>-2500</td>
                    </tr>
                    <tr>
                        <th>日期</th>
                        <th>操作类型</th>
                        <th>cc数量</th>
                    </tr>
                    <tr>
                        <td>11.27</td>
                        <td>buy</td>
                        <td>+1000</td>
                    </tr>
                    <tr>
                        <td>11.28</td>
                        <td>sell</td>
                        <td>-1500</td>
                    </tr>
                        <td>11.29</td>
                        <td>sell</td>
                        <td>-1000</td>
                    </tr>
                    <!--之后从数据库读取cc的操作数据-->
                    <tr>
                        <td>11.30</td>
                        <td>sell</td>
                        <td>-2000</td>
                    </tr>
                    <tr>
                        <th>日期</th>
                        <th>操作类型</th>
                        <th>cc数量</th>
                    </tr>
                    <tr>
                        <td>12.01</td>
                        <td>buy</td>
                        <td>+4000</td>
                    </tr>
                    <tr>
                        <td>12.02</td>
                        <td>sell</td>
                        <td>-1000</td>
                    </tr>
                    <tr>
                        <td>12.03</td>
                        <td>buy</td>
                        <td>+6000</td>
                    </tr>
                    <tr>
                        <td>12.04</td>
                        <td>sell</td>
                        <td>-1500</td>
                    </tr>
                    <tr>
                        <th>日期</th>
                        <th>操作类型</th>
                        <th>cc数量</th>
                    </tr>
                    <tr>
                        <td>12.05</td>
                        <td>sell</td>
                        <td>-1000</td>
                    </tr>
                    <tr>
                        <td>12.06</td>
                        <td>sell</td>
                        <td>-1500</td>
                    </tr>
                    <tr>
                        <td>12.07</td>
                        <td>sell</td>
                        <td>-1000</td>
                    </tr>
                    <tr>
                        <td>12.08</td>
                        <td>buy</td>
                        <td>+1000</td>
                    </tr>


				</table>
                    <!--<tr>
                    {{with .user.Data}}
                    {{range .UserCcOpeList}}
                        <td>{{.OpeCcDate}}</td>
                        <td>{{.OpeCcType}}</td>
                        <td>{{.OpeCcNumber}}</td>
                    </tr>
                    {{end}}
                    {{end}}
                    -->
			<div>
				<table width="60%" align="center">
                    <tr>
                        <td><div style="margin-top: 30px" id="barcon1" name="barcon"></div></td>
                    </tr>
  				</table>
			</div>

				<div style="margin-top: 50px">项目token记录</div>
                <table class="customers" id="idData2" >

                    <tr class="alt">
                        <th>日期</th>
                        <th>操作类型</th>
                        <th>cc数量</th>
                    </tr>
                    <!--之后从数据库读取cc的操作数据-->
                    <tr>
                        <td>11.19</td>
                        <td>sell</td>
                        <td>-1000</td>
                    </tr>
                    <tr>
                        <td>11.20</td>
                        <td>buy</td>
                        <td>+5000</td>
                    </tr>
                    <tr>
                        <td>11.21</td>
                        <td>sell</td>
                        <td>-1500</td>
                    </tr>
                    <tr>
                        <td>11.22</td>
                        <td>sell</td>
                        <td>-1000</td>
                    </tr>
                    <tr>
                        <th>日期</th>
                        <th>操作类型</th>
                        <th>cc数量</th>
                    </tr>
                    <tr>
                        <td>11.23</td>
                        <td>sell</td>
                        <td>-1500</td>
                    </tr>
                    <tr>
                        <td>11.24</td>
                        <td>sell</td>
                        <td>-2000</td>
                    </tr>
                    <tr>
                        <td>11.25</td>
                        <td>buy</td>
                        <td>+3000</td>
                    </tr>
                    <tr>
                        <td>11.26</td>
                        <td>sell</td>
                        <td>-2500</td>
                    </tr>
                    <tr>
                        <th>日期</th>
                        <th>操作类型</th>
                        <th>cc数量</th>
                    </tr>
                    <tr>
                        <td>11.27</td>
                        <td>buy</td>
                        <td>+1000</td>
                    </tr>
                    <tr>
                        <td>11.28</td>
                        <td>sell</td>
                        <td>-1500</td>
                    </tr>
                        <td>11.29</td>
                        <td>sell</td>
                        <td>-1000</td>
                    </tr>
                    <!--之后从数据库读取cc的操作数据-->
                    <tr>
                        <td>11.30</td>
                        <td>sell</td>
                        <td>-2000</td>
                    </tr>
                    <tr>
                        <th>日期</th>
                        <th>操作类型</th>
                        <th>cc数量</th>
                    </tr>
                    <tr>
                        <td>12.01</td>
                        <td>buy</td>
                        <td>+4000</td>
                    </tr>
                    <tr>
                        <td>12.02</td>
                        <td>sell</td>
                        <td>-1000</td>
                    </tr>
                    <tr>
                        <td>12.03</td>
                        <td>buy</td>
                        <td>+6000</td>
                    </tr>
                    <tr>
                        <td>12.04</td>
                        <td>sell</td>
                        <td>-1500</td>
                    </tr>
                    <tr>
                        <th>日期</th>
                        <th>操作类型</th>
                        <th>cc数量</th>
                    </tr>
                    <tr>
                        <td>12.05</td>
                        <td>sell</td>
                        <td>-1000</td>
                    </tr>
                    <tr>
                        <td>12.06</td>
                        <td>sell</td>
                        <td>-1500</td>
                    </tr>
                    <tr>
                        <td>12.07</td>
                        <td>sell</td>
                        <td>-1000</td>
                    </tr>
                    <tr>
                        <td>12.08</td>
                        <td>buy</td>
                        <td>+1000</td>
                    </tr>


				</table>
                    <!--<tr>
                    {{with .user.Data}}
                    {{range .UserCcOpeList}}
                        <td>{{.OpeCcDate}}</td>
                        <td>{{.OpeCcType}}</td>
                        <td>{{.OpeCcNumber}}</td>
                    </tr>
                    {{end}}
                    {{end}}
                    -->
				<table width="60%" align="center" id="location">
                    <tr>
                        <td><div style="margin-top: 30px" align="left" id="barcon2" name="barcon2"></div></td>
                    </tr>
  				</table>
            </div>
        </div>
    </div>
</body>