<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>平台信息</title>
	<link rel="stylesheet" type="text/css" href="/static/css/platformAdmin.css"/>
</head>

<body>
    {{template "./platformAdminTopNav.html" .}}
    <script type="text/javascript">
        document.getElementById("platform-information").style.backgroundColor = 'white';
    </script>

    <div class="pltinfo-container">
        <div class="pltinfo-card">
            <div class="card-head">
				<div class="card-title">平台拥有的CC数</div>   
            <div class="record-label">CC记录</div>
			<div class="pltinfo-card-value">
				<p>日期</p><p>变化</p><p>总数</p>
				<p>11.23</p><p>+1000</p><p>1000</p>
				<p>11.25</p><p>+2000</p><p>3000</p></div>
            </div>
        </div>
        <div class="pltinfo-card">
            <div class="card-head">
                <div class="card-title">托管在平台的项目总数</div>
            </div>
            <div class="record-label">项目记录</div>
			<div class="pltinfo-card-value">
			    <p>日期</p><p>变化</p><p>总数</p>
			    <p>11.23</p><p>+2</p><p>2</p>
			    <p>11.25</p><p>+1</p><p>3</p></div>
        </div>
    </div>
    {{template "./footer.html" .}}
</body>
</html>