<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目信息</title>
    <style>
        .info-container {
            margin: auto;
            width: 1200px;
            font-size: 0;
        }
        .info-card {
            display: inline-block;
            border-style: solid;
            border-width: 4px;
            border-radius: 10px;
            border-color: #bfbfbf;
            width: 500px;
            height: 500px;
            margin-top: 70px;
            margin-left: 46px;
            margin-right: 46px;
        }
    </style>
</head>

<body>
    {{template "./projectTopNav.html" .}}
    <script type="text/javascript">
        document.getElementById("prj-info").style.backgroundColor = 'white';
    </script>

    <div class="info-container">
        <div class="info-card">

        </div>
        <div class="info-card">

        </div>

    </div>
</body>
</html>