<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kcoin</title>
    <link rel="stylesheet" type="text/css" href="../static/css/projectInfo.css"/>
</head>
<body>
    <div class="head">

    </div>
    <div class="navigation">
        <img src="../static/img/projectbg.png">
        <div class="prj-name">KCoin</div>
        <a class="first" id="prj-info" href="./projectInfo">项目详情</a>
        <a id="proj-notice" href="./projectNotice">项目动态</a>
        <a id="prj-mem" href="./projectMemberList">项目成员</a>
        <a>项目设置</a>
    </div>
</body>
</html>