<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目信息</title>
    <link rel="stylesheet" type="text/css" href="/static/css/project.css"/>
</head>

<body>
    {{template "./projectTopNav.html" .}}
    <script type="text/javascript">
        document.getElementById("prj-info").style.backgroundColor = 'white';
    </script>

    <div class="projectInfo-container">
        <div class="projectInfo-card">
            <div class="projectInfo-card-head">
                <div class="projectInfo-card-title">KCoin 总值</div>
                <div class="projectInfo-card-value">0</div>
            </div>
            <div class="projectInfo-record-label">发放记录</div>
        </div>
        <div class="projectInfo-card">
            <div class="projectInfo-card-head">
                <div class="projectInfo-card-title">Token 总值</div>
                <div class="projectInfo-card-value">0</div>
            </div>
            <div class="projectInfo-record-label">发放记录</div>
        </div>
    </div>

    {{template "./footer.html" .}}
</body>
</html>