@charset "utf-8";


/*以下是personalPage页面的css*/
*{
    border: 0;
    margin: 0;
}

body{
    font:19px/1.5 Microsoft YaHei;
    position:relative;
    margin:0 auto;
    background-color:#ece9ecfd;
}
a:link,a:visited,a:hover,a:active
{
    color: #1B1B1B;
    text-decoration:none;
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

#container{
    position: relative;
    width: 100%;
    height: 1200px;
}

.left-nav{
    background-color: #ece9ecfd;
    position: relative;
    float: left;
    width: 20%;
}

.mainInterface{
    background-color: #FFFFFF;
    position: relative;
    min-height: 100vh;
    float: left;
    width: 80%;
    height: 100%;
}

.banner{
    background-color: #8a818afd;
    position:relative;
    padding-top: 10px;
    padding-left: 10px;
    vertical-align: middle;
    width: 100%;
    height: 40px;
}

.information{
    position: relative;
    width: 100%;
    height: 250px;
    text-align: center;
    padding-top: 30px;
    padding-top: 50px;
}

.list{
    position: relative;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.money{
    position: relative;
    box-shadow: 0px 3px 7px #000000;
    margin: 50px;
    width: 900px;
    height: 150px;
    border: 0px;
    border-radius: 15px;
    border-style: solid;
    border-color:#4da5b4fd;
    padding: 2px;
}

.record{
    position: relative;
    margin: 50px;
    width: 900px;
    height: 150px;
}

.token{
    position: absolute;
    margin-top: 200px;
    width: 900px;
    height: 150px;
}

.list a{
    display:block;
    font-weight:bold;
    width:100%;
    height: 60px;
    text-align: center;
}

.sermore{
    margin-left: 550px;
    font-weight: 500;
    font-size: 18px;
    color: #c00;    
}
.paging-btn{
	color: black;
	float: left;
	padding: 6px 12px;
	margin-right: 10px;
	font-size: 15px;
	border-radius: 5px;
	transition: background-color .3s;
    border: 1px solid #CECCCC;
    cursor: pointer；
}
.customers
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:120%;
    border-collapse:collapse;
    margin-top: 20px;
}
.customers th 
{	display: inline-block;
	border:0px solid #ffffff;
	font-size:1em;
	text-align:left;
	margin-top:30px;
	margin-right:80px;
	background-color:#FFFFFF;
	width: 200px;	
}
.customers td
{	display: inline-block;
	border:0px solid #ffffff;
	font-size:1em;
	text-align:left;
	margin-top:30px;
	margin-right:80px;
	background-color:#FFFFFF;
	width: 200px;
}
.customers tr.alt td 
{
	color:#000000;
	background-color:#e2e0e0;
}

ul.pagination {
    position: absolute;
    display: inline-block;
    padding: 0;
    margin: 10px;
    margin-top: 80px;
    
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

ul.pagination li a.active {
    background-color: rgb(176, 225, 248);
    color: white;
    border: 1px solid rgb(176, 225, 248);
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}



/*以下是personalProjects页面的css*/
.container {
	width: 100%;
	text-align: center;
	float: left;
}

.addprojbar {
	width: 100%;
	height: 60px;
	float: left;
	font-size: 25px;
	border: 1px;
}

.project {
	display: inline-block;
	margin-top: 40px;
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	background: #F8F8FD;
}
.project > .project-cover {
	width: 100%;
	height: auto;
}
.project > .project-name {
	text-align: left;
	font-weight: 1000;
	font-size: 30px;
	padding-left: 10px;
}
.project > .introduction {
	text-align: left;
	padding-left: 20px;
}
.project > .CC {
	color: #FFCC33;
	font-size: 20px;
	text-align: left;
	padding-left: 20px;
}
.head_shot {
	padding-left: 15px;
	height: 50px;
	float: left;
}



/*表示点击按钮后，其他区域阴影*/
.black_overlay{ 
    display: none; 
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color: black; 
    z-index:1001; 
    -moz-opacity: 0.8; 
    opacity:.80; 
    filter: alpha(opacity=88); 
}

/*以下为点击按钮后高亮的图层*/

.main{
    width:800px;
    margin: auto;
    position: relative;
        top: 50%;
        transform: translateY(-50%);
}
.content{
    padding-left: 20px;
    padding-right: 20px;
}

.steps {    
    position: relative;
    counter-reset: step;  /*创建步骤数字计数器*/
    margin:0;
    padding:0;
}

/*步骤描述*/
.steps li {
    list-style-type: none;
    font-size: 12px;
    color:black;
    text-align: center;
    width: 33.3%;
    position: relative;
    float: left;
    padding-bottom: 5px;
}   
/*步骤数字*/
.steps li:before {
  display: block;
  content: counter(step); /*设定计数器内容*/
  counter-increment: step;  /*计数器值递增*/
  width: 32px;
  height: 32px;
  background-color: #ffd7d8;
  line-height: 32px;
  border-radius: 32px;
  font-size: 16px;
  color: white;
  text-align: center;
  font-weight: 700;
  margin: 0 auto 8px auto;
}
 
/*连接线*/
.steps li ~ li:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #ffd7d8;
  position: absolute;
  left: -50%;
  top: 15px;
  z-index: -1; /*放置在数字后面*/
}
 
.steps li.active:before,
.steps li.active:after {
  background-color: #ff5b5d;
}

img.profile{
    height: 25px;
}
#username{
    font-weight:bold;
}
#userprojects{
    color:gray;
}
table.projects{        
        list-style-position: outside;
    font-size:130%;
    padding: 0px;
}
.projects td{
    margin-top:5px;
    list-style-type: none;
    border-radius: 5px;
    background-color:#edf0f5;
    padding: 5px;
    width:900px;
}

#managed_projects{
    display: none;
}

/* 参加项目和管理项目头部 */
a:link,a:visited,a:hover,a:active
{
    color: #1B1B1B;
    text-decoration:none;
}

.navigation > .first {
    margin-left: 40px;
    background-color:#bfbfbf;
}
.navigation > a {
    float: left;
    margin-top: 20px;
    margin-left: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-radius: 10px;
    font-size: 30px;
    height: 60px;
}

textarea.projectintro{
	border-style: ridge;
	border-radius: 5px;
	padding: 5px;
	color:gray;
	font-size: 110%;
    width:98%;
    height:100px;  
}

/*以下是import.tpl页面用到的css*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main{
	width:800px;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.content{
	padding-left: 20px;
	padding-right: 20px;
}

.steps {	
	position: relative;
  	counter-reset: step;  /*创建步骤数字计数器*/
  	margin:0;
  	padding:0;
}

/*步骤描述*/
.steps li {
	list-style-type: none;
  	font-size: 12px;
  	color:black;
  	text-align: center;
	width: 33.3%;
	position: relative;
	float: left;
	padding-bottom: 5px;
}	
/*步骤数字*/
.steps li:before {
  display: block;
  content: counter(step); /*设定计数器内容*/
  counter-increment: step;  /*计数器值递增*/
  width: 32px;
  height: 32px;
  background-color: #ffd7d8;
  line-height: 32px;
  border-radius: 32px;
  font-size: 16px;
  color: white;
  text-align: center;
  font-weight: 700;
  margin: 0 auto 8px auto;
}
 
/*连接线*/
.steps li ~ li:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #ffd7d8;
  position: absolute;
  left: -50%;
  top: 15px;
  z-index: -1; /*放置在数字后面*/
}
  
.steps li.active:before,
.steps li.active:after {
  background-color: #ff5b5d;
}

/*主体*/
input.url_input{
	border-style: ridge;
	border-radius: 5px;
	margin-top: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color:gray;
	font-size: 110%;
	width:90%;
}

input.submit{
	border-style: ridge;
	border-radius: 5px;
	background-color:white;
	color:#ff5b5d;
	font-size: 110%;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 5px;
}

h1 {
	background-color: #434343;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	color:white;
	font-weight:normal;
	font-size: 160%;
}

img.profile{
	height: 25px;
}

#username{
	font-weight:bold;
}

#userprojects{
	color:gray;
}

ul.projects{   		
	list-style-position: outside;
	font-size:130%;
	padding: 0px;
}

.projects li{
	margin-top:5px;
	list-style-type: none;
	border-radius: 5px;
	background-color:#edf0f5;
	padding: 5px;
}

#next_back{
	margin-top: 57px;
}

button.back{
	border-style: ridge;
	border-radius: 5px;
	color:#ff5b5d;
	background-color: white;
	font-size: 110%;
	padding-top: 2px;
	padding-bottom: 2px;
	/* float:right; */
	margin-left: 590px;
	margin-bottom: 20px;
}

button.next{
	border-style: ridge;
	border-radius: 5px;
	font-size: 110%;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 15px;
	background-color: #ff5b5d;
	color:white;
	float:right;
}

button.confirm{
	border-style: ridge;
	border-radius: 5px;
	font-size: 110%;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 15px;
	background-color: #ff5b5d;
	color:white;
	float:right;
	display: none;
}

#myprojects{
	display: block;
}

#init_message{
	display: none;
}
#config_project{
	display: none;
}

#config_project p{
	color:gray;
}

input.projectname{
	border-style: ridge;
	border-radius: 5px;
	padding: 5px;
	color:gray;
	font-size: 110%;
	width:98%;
}

.upload{
	padding: 4px 10px;
	border-style: ridge;
	border-radius: 5px;
    border: 1px solid #999;
    text-decoration: none;
    color: #ff5b5d;
}

.change{
	border-style: ridge;
	border-radius: 5px;
	color:#ff5b5d;
	font-size: 25px;
	overflow: hidden;
	position: absolute;
	left:20px;
	bottom: 65px;
	opacity:0;
	width:90px;
}

