@charset "utf-8";

*{
    border: 0;
    margin: 0;
}

body{
    font:19px/1.5 Microsoft YaHei;
    position:relative;
    margin:0 auto;
    background-color:#ece9ecfd;
}
a:link,a:visited,a:hover,a:active
{
    color: #1B1B1B;
    text-decoration:none;
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

#container{
    position: relative;
    width: 100%;
    height: 100%;
}

.left-nav{
    background-color: #ece9ecfd;
    position: relative;
    float: left;
    width: 20%;
}

.mainInterface{
    background-color: #FFFFFF;
    position: relative;
    min-height: 100vh;
    float: left;
    width: 80%;
    height: 100%;
}

.banner{
    background-color: #8a818afd;
    position:relative;
    padding-top: 10px;
    padding-left: 10px;
    vertical-align: middle;
    width: 100%;
    height: 40px;
}

.information{
    position: relative;
    width: 100%;
    height: 250px;
    text-align: center;
    padding-top: 30px;
    padding-top: 50px;
}

.list{
    position: relative;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.money{
    position: relative;
    box-shadow: 0px 3px 7px #000000;
    margin: 50px;
    width: 900px;
    height: 150px;
    border: 0px;
    border-radius: 15px;
    border-style: solid;
    border-color:#4da5b4fd;
    padding: 2px;
}

.record{
    position: relative;
    margin: 50px;
    width: 900px;
    height: 150px;
}

.token{
    position: absolute;
    margin-top: 200px;
    width: 900px;
    height: 150px;
}

.list a{
    display:block;
    font-weight:bold;
    width:100%;
    height: 60px;
    text-align: center;
}

.sermore{
    margin-left: 550px;
    font-weight: 500;
    font-size: 18px;
    color: #c00;    
}

.customers
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:120%;
    border-collapse:collapse;
    margin-top: 20px;
}
.customers td, .customers th 
{
	font-size:1em;
	border:0px solid #ffffff;
	padding:3px 7px 2px 7px;
}
.customers th 
{
	font-size:1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#FFFFFF;
	
}
.customers tr.alt td 
{
	color:#000000;
	background-color:#e2e0e0;
}

ul.pagination {
    position: absolute;
    display: inline-block;
    padding: 0;
    margin: 10px;
    margin-top: 80px;
    
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

ul.pagination li a.active {
    background-color: rgb(176, 225, 248);
    color: white;
    border: 1px solid rgb(176, 225, 248);
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}
