/*以下页面共有的css*/
body{
    margin: 0;
    
}

/*以下是platformAdminTopNav页面的css*/

a:link,a:visited,a:hover,a:active
{
    color: #1B1B1B;
    text-decoration:none;
}

.head {
    position: relative;
    height: 70px;
    background-color: #333333;
}

.topNavLogo{
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
}

.topNavName{
    float: left;
    line-height: 70px;
    font-size: 28px;
    color: aliceblue;
}

.navigation {
    position: relative;
    height: 160px;
    padding-left: 100px;
    background-color: #bfbfbf;
}

.navigation > img {
    position: absolute;
    width: 150px;
    height: 100%;
    border-style: solid;
    border-width: 6px;
    border-color: #FFFFFF;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 20px;
}

.navigation > .platform-admin {
    position: absolute;
    font-size: 60px;
    margin-left: 250px;
    margin-top: 30px;
    color: #323a45;
}

.navigation > .first {
    margin-left: 250px;

}

.navigation > a {
    float: left;
    margin-top: 110px;
    margin-left: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-radius: 10px;
    font-size: 30px;
    height: 60px;
}


/*以下是platformInformation.html页面的css*/
.pltinfo-container {
    margin: auto;
    width: 1200px;
    font-size: 0;
}
.pltinfo-card {
    display: inline-block;
    vertical-align: top;
    border: 2px solid #52B1EC;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    margin-top: 70px;
    margin-left: 46px;
    margin-right: 46px;
}
.card-head {
    height: 70px;
    background-color: #ACDCFA;
}
.card-title {
    display: inline-block;
    vertical-align: bottom;
    font-size: 25px;
    color: #3B43F4;
    height: 70px;
    line-height: 70px;
    text-align: center;
    margin-left: 20px;
}
.pltinfo-card-value {
    display: inline-block;
    vertical-align: bottom;
    font-size: 25px;
    font-weight: bold;
    color: #5DCBED;
    height: 370px;
    width: 500px;
    line-height: 70px;
    text-align: center;
    
}
.pltinfo-card-value p{
    display: inline-block;
    vertical-align: bottom;
    font-size: 25px;
    font-weight: bold;
    color: #5DCBED;
    height: 70px;
    width: 100px;
    line-height: 70px;
    text-align: center;
    margin-left: 30px;
}
.record-label {
    font-size: 15px;
    text-align: center;
    color: #1B82EB;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: -15px auto;
    background-color: #41F2FD;
    border-radius: 15px;
}

/*以下是projectFunding页面的css*/
.record{
    position: relative;
    margin: 50px;
    width: 900px;
    height: 350px;
    padding-left: 50px;
    padding-bottom: 30px;
    margin-bottom: 120px;
}

.customers{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse:collapse;
    position: relative;
    width: 900px;
    margin-top: 40px;
    font-size: 19px;
}

.customers th
{	display: inline-block;
	font-size:1em;
	border:1px solid #ffffff;
    margin:5px 10px 15px 10px;
    text-align: left;
	width: 270px;
}

.customers td
{	display: inline-block;
	width: 270px; 
	white-space: nowrap;  
	text-overflow: ellipsis;   
	overflow: hidden; 
	font-size:1em;
	border:1px solid #ffffff;
	margin:5px 10px 15px 10px;
}

/*以下是capitalInjection页面的css*/
.topNavLogo{
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
}
.topNavName{
    float: left;
    line-height: 70px;
    font-size: 28px;
    color: aliceblue;
}
.container {
    width: 100%;
    font-size: 0;
}
.container-child {
    margin: auto;
    width: 1250px;
}
.project {
    display: inline-block;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    width: 220px;
    background: #F8F8FD;
}
.project > .project-cover {
    width: 100%;
    height: auto;
}
.project > .project-name {
    text-align: left;
    font-weight: 1000;
    font-size: 30px;
    padding-left: 10px;
}
.project > .introduction {
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
}
.project > .CC {
    color: #FFCC33;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}
.head_shot {
    padding-left: 15px;
    height: 50px;
    float: left;
}

.main{
    width:500px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.content{
    padding-left: 20px;
    padding-right: 20px;
}

#injection{
    position:absolute;
    left:0px;
    top:0px;
    /*width:300px; */
    min-height:700px;
}
input[type="text"]{
    border: 2px solid #ccc;
    padding: 6px 0px;
    border-radius: 10px;
    padding-left:20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
input:focus{
    border-color: #3052e9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

input[type="button"] {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #3052e9;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
#commit{
    border-style: ridge;
    border-radius: 5px;
    font-size: 110%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 15px;
    background-color: #ff5b5d;
    color: white;

}
#cancel{
    border-style: ridge;
    border-radius: 5px;
    font-size: 110%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 15px;
    background-color: white;
    color:#ff5b5d;

}



