@charset "utf-8";
/* CSS Document */


.record{
    position: relative;
    margin: 50px;
    width: 900px;
    height: 350px;
    padding-left: 50px;
    padding-bottom: 30px;
}

.customers{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse:collapse;
    position: relative;
    width: 900px;
    margin-top: 40px;
    font-size: 19px;
}

.customers th
{
	font-size:1em;
	border:0px solid #ffffff;
    padding:10px 7px 20px 7px;
    text-align: left;
}

.customers td
{
	font-size:1em;
	border:0px solid #ffffff;
	padding:5px 150px 15px 10px;
}