@charset "utf-8";

body {
}

.container {
    width: 1200px;
    padding-left: 150px;
    padding-top: 150px;
    font-size: 20px;

}

.yearNode {         /*表示年份的结点*/
    width: 80px;
    height: 30px;
    border-radius: 15px;    /*给矩形增加圆角*/
    background-color: #ff7070;
    position: relative;
    left: -45px;
    top: 30px;
    text-align: center;
    margin-bottom: 100px; 
}


.time-vertical {
    list-style-type: none;
    border-left: 10px solid #ff7070;/*左侧边界，显示效果为纵向的时间线*/ 
    margin-left: 10px;
    padding: 0px;
}
 
.time-vertical div {
    height: 100px;
    position: relative;
}
 
.time-vertical div a {
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
    text-decoration: none;
    color: #000;
}
 
.time-vertical div b:before {
    content: '';
    position: absolute;
    top: 15px;
    left: -16px;
    width: 18px;
    height: 18px;
    border: 2px solid #ff7070;
    border-radius: 10px;
    background: #fff;
    vertical-align: middle;
}
 
.time-vertical div span {
    position: absolute;
    color: #ff5050;
    top: 18px;
    left: -65px;
}